# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "j4VBOezPvZA51oYxxEjAhc+RFKWA4JyUE2YmK6Z5tmaqDUVv3FacehS5m6smA7MKZ8pU5pnCwx5PtgEXKnNH8duMHatQn+QYPInBaMqyjW1s9fYdL0YCo6pRZOjrloGRVfvxsUpMViOsvhH1XTABu8AWv80wyB9LroaqgF4Xixqc5di92+MUIk8vfcI+U/NPnmgoiDND4UPPQcz9SC9NhSwfKc1HktcUqAx/06pz1y7ML1vt1R0s5TCuKS0xqpzOpd7qULw9trJIy3vpgkvKWxTDce6kSuc+zPN7xXFBvMYc14qfQcf3MiwZPkU2gp0XfJcWnPcBpONsS3xLiq9taM7KiE2hKMGcjJfX1/AYqvDABykM/wa49Gmdk3OOiWqtfhoblQ9ZAtptdEMSCzAhFwdG4B3g2AkMApfC+jjB6BEtoQ2eAO5dq8F7qz7XGy/QOnoUUwN5ftlnO3C8IhIqbotQv4A3nU2BnW87FnnT9veOPjH550eOCgDmbctndHXFsd5X7AFKzpB+cvSrbWUtHcxQzrZGG7iVREcTRdgdpJg1y5JZPfoV8lT7exVaGToqK/a5kNXzDSa9wSIA3unGAe73J5yk2Gu/OF3JZtbx2d/PpvGj/8V96runlSZ0WAVQdFWsENUgSvtsQYXBr2UHcU7xiCkRMQPIyG1wk5KHhoM="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
